$color_1: white;
$background-color_1: #282c34;

.GamePage {
	a {
		text-decoration: none;
		color: black;
	}
	display: flex;
	flex-direction: column;
	background-color: $background-color_1;
	min-height: 100vh;
	color: $color_1;
	.header {
		display: flex;
		font-size: calc(10px + 2vmin);
		height: 10vh;
		width: 100vw;
	}
  .grimoire {
		display: flex;
		width: 100vw;
		flex-grow: 1;
	.character {
		display: flex;
      	position: absolute;
		flex-direction: column;
		.token {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			// In case border colour is required
			border-radius: 50%; 
			border: none
		}

		.player-name {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}

	.token {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: absolute;

		// In case border colour is required
		border-radius: 50%; 
		border: 1px solid gray;
	}
    
  }
}

