$color_1: white;
$background-color_1: #282c34;

.Home {
	display: flex;
	flex-direction: column;

	a {
		text-decoration: none;
		color: black;
	}

	background-color: $background-color_1;
	min-height: 100vh;
	.header {
		display: flex;
		flex-direction: column;
		font-size: calc(10px + 2vmin);
		color: $color_1;
		padding-bottom: 2%;
	}

	.gamesList {
		display: flex;
		flex-direction: column;
		.gameBrief {
			display: flex;
			flex-direction: row;
			font-size: calc(10px + 1vmin);
			color: $color_1;
			
			.briefItem {
				border: 1px solid gray;
				border-bottom: 1px solid gray;
				flex-basis: 0;
				flex-grow: 1;
				padding: 5px;
				text-align: center;
			}
		}
	}
	.createGameButton {
		display: flex;
		flex-direction: column;
		font-size: calc(10px + 1vmin);
		color: $color_1;
		flex-basis: 0;
		flex-grow: 1;
		position: fixed;
		bottom: 5%;
		text-align: center;
		align-self: center;
		cursor: pointer;

		background-color: #631D76; /* Green */
  		padding: 10px 20px;
		&:hover {
			background-color: #683277; /* Green */
			transition: all 0.1s ease-in;
		}
		transition: all 0.1s ease-in;
	}
}

