// TB Tokens
.token, .small-token {
    
&.Washerwoman {
    background-image: url("../images/tokens/TB_Tokens/TB_Washerwoman.png");
    background-size: contain;
}

&.Librarian {
    background-image: url("../images/tokens/TB_Tokens/TB_Librarian.png");
    background-size: contain;
}

&.Investigator {
    background-image: url("../images/tokens/TB_Tokens/TB_Investigator.png");
    background-size: contain;
}

&.Chef {
    background-image: url("../images/tokens/TB_Tokens/TB_Chef.png");
    background-size: contain;
}

&.Empath {
    background-image: url("../images/tokens/TB_Tokens/TB_Empath.png");
    background-size: contain;
}

&.Fortune-Teller {
    background-image: url("../images/tokens/TB_Tokens/TB_Fortune_Teller.png");
    background-size: contain;
}

&.Undertaker {
    background-image: url("../images/tokens/TB_Tokens/TB_Undertaker.png");
    background-size: contain;
}

&.Monk {
    background-image: url("../images/tokens/TB_Tokens/TB_Monk.png");
    background-size: contain;
}

&.Ravenkeeper {
    background-image: url("../images/tokens/TB_Tokens/TB_Ravenkeeper.png");
    background-size: contain;
}

&.Virgin {
    background-image: url("../images/tokens/TB_Tokens/TB_Virgin.png");
    background-size: contain;
}

&.Slayer {
    background-image: url("../images/tokens/TB_Tokens/TB_Slayer.png");
    background-size: contain;
}

&.Soldier {
    background-image: url("../images/tokens/TB_Tokens/TB_Soldier.png");
    background-size: contain;
}

&.Mayor {
    background-image: url("../images/tokens/TB_Tokens/TB_Mayor.png");
    background-size: contain;
}

&.Butler {
    background-image: url("../images/tokens/TB_Tokens/TB_Butler.png");
    background-size: contain;
}

&.Drunk {
    background-image: url("../images/tokens/TB_Tokens/TB_Drunk.png");
    background-size: contain;
}

&.Recluse {
    background-image: url("../images/tokens/TB_Tokens/TB_Recluse.png");
    background-size: contain;
}

&.Saint {
    background-image: url("../images/tokens/TB_Tokens/TB_Saint.png");
    background-size: contain;
}

&.Poisoner {
    background-image: url("../images/tokens/TB_Tokens/TB_Poisoner.png");
    background-size: contain;
}

&.Spy {
    background-image: url("../images/tokens/TB_Tokens/TB_Spy.png");
    background-size: contain;
}

&.Scarlet-Woman {
    background-image: url("../images/tokens/TB_Tokens/TB_Scarlet_Woman.png");
    background-size: contain;
}

&.Baron {
    background-image: url("../images/tokens/TB_Tokens/TB_Baron.png");
    background-size: contain;
}

&.Imp {
    background-image: url("../images/tokens/TB_Tokens/TB_Imp.png");
    background-size: contain;
}

&.Add-Character {
    background-image: url("../images/other-images/Add-Character.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid gray;
    &:hover {
        opacity: 50%;
        transition: 0.1s ease;
    }
}

.Dead {
    width: 100%;
    height: 100%;
    background-image: url("../images/other-images/X-Death.png");
    background-size: contain;
    opacity: 70%;
}

.closeToken {
    visibility: hidden;
    position: absolute;
    right: 10%;
    top: 10%;
    width: 20%;
    height: 20%;
    background-image: url("../images/other-images/close-token-button.png");
    background-size: contain;
    border-radius: 50%;
}

&:hover {
    .closeToken {
        visibility: visible;
    }
}
}
